<h1>Set up your account</h1>
<p>You are logged in as <%= @user.email %>. If you are not <%= @user.email %>, click <%= link_to "here", "/sso/logout" %>.</p>

<%= form_for @user, :url => registrations_path do |f| %>
  <div class='actions'>
    <button class='btn primary' type='submit'>
      Set up
    </button>
  </div>
<% end %>
